#aboutText {
	width: 58%;
	margin-left: 1em;
	font-weight: 700;
	float: left;
}

#aboutText p {
	text-align: left;
}

#aboutText > h3 {
	background-color: rgb(250, 245, 245, .1);
}

.aboutimages {
	margin-top: 4.4em;
	max-width: 35%;
	object-fit: contain;
	float: left;
	margin-left: 2em;
}

.linkypoo:hover {
	color: #8e92d3;
}

@media (width <= 855px) {
	#aboutText {
		width: 90vw;
	}

	.aboutimages {
		margin-left: 1em;
	}
}

@media (width <= 1169px) {
	#aboutid {
		margin-top: 3em;
		display: flex;
		flex-direction: column;
	}

	.aboutimages {
		max-width: 90vw
	}
}