#aboutText {
	width: 58%;
	margin-left: 1em;
	font-weight: 700;
	float: left;
}

#aboutText > p {
	text-align: left;
	text-indent: 50px;
}

#aboutText > h3 {
	background-color: rgb(250, 245, 245, .1);
}

#aboutimages {
	margin-top: 4.4em;
	max-width: 200px;
	max-height: 200px;
	object-fit: contain;
	float: left;
	margin-left: 2em;
}

@media (width <= 855px) {
	#aboutText {
		width: 90vw;
	}

	#aboutimages {
		display: none;
	}
}

@media (width <= 1169px) {
	#aboutid {
		margin-top: 3em;
	}
}