#aboutText {
	width: 58%;
	margin-left: 1em;
	font-weight: 700;
	float: left;
}

#aboutText p {
	text-align: left;
}

#aboutText > h3 {
	background-color: rgb(250, 245, 245, .1);
}

.aboutimages {
	margin-top: 4.4em;
	max-width: 200px;
	max-height: 200px;
	object-fit: contain;
	float: left;
	margin-left: 2em;
}

.linkypoo:hover {
	color: #8e92d3;
}

.fade-element, .fade-element1 {
    opacity: 0; /* Start with hidden opacity */
    transition: opacity 1s ease-in-out; /* Define the transition properties */
}

.fade-element.show, .fade-element1.show {
    opacity: 1; /* Target opacity for showing the element */
}

.aboutimages1 {
	display: none;
}

@media (width <= 855px) {
	#aboutText {
		width: 90vw;
	}

	#aboutimages {
		display: none;
	}
}

@media (width <= 1169px) {
	#aboutid {
		margin-top: 3em;
	}
}