#additionalText {
	width: 58%;
	margin-left: 1em;
	font-weight: 700;
	float: left;
}

#additionalText > p {
	text-align: left;
}

#additionalText > p {
	text-align: left;
}

li {
	list-style-type: none;
	font-style: italic;
}

#additionalText h2, h3 {
	background-color: rgb(250, 245, 245, .1);
}

#principleslist > li {
	font-size: large
}