#additionalText {
	width: 58%;
	margin-left: 1em;
	font-weight: 700;
	float: left;
}

#additionalText p {
	text-align: left;
}

li {
	list-style-type: none;
	font-style: italic;
}

#additionalText h2, h3 {
	background-color: rgb(250, 245, 245, .1);
}

#principleslist > li {
	font-size: large;
	text-align: left;
}

#mobileprincipleslist {
	display: none;
}

.linkypoo:hover {
	color: #8e92d3;
}

@media (width <= 855px) {
	#additionalText {
		width: 90vw;
	}

	#mobileprincipleslist {
		display: block;
	}

	#mobileprincipleslist > li {
		font-size: large;
		text-align: left;
	}

	#principleslist {
		display: none;
	}

	#informationid {
		display: flex;
		flex-direction: column;
	}

}

@media (width <= 1169px) {
	#informationid {
		margin-top: 4em;
	}
}