#app {
	min-height: 100vh;
	position: relative;
}

.SiteBox {
	overflow: hidden;
	min-height: 100vh;
	padding-bottom: calc(10%);
}

.NavBar {
	min-height: calc(20%);
}

.Footer {
	min-height: calc(10%);
}