#app {
	min-height: 100vh;
	position: relative;
	/* background: linear-gradient(90deg, rgb(98, 18, 130), rgb(15, 107, 29) 50%, rgb(227, 174, 100)); */
}

.SiteBox {
	overflow: hidden;
	min-height: 100vh;
	padding-bottom: calc(10%);
}

.NavBar {
	min-height: calc(20%);
}

.Footer {
	min-height: calc(10%);
}