.CalendarEventsHead {
	font-variant: small-caps;
	background-color: rgb(250, 245, 245, .1);
	min-width: 60vw;
	font-weight: 700;
}

#calendar {
	min-width: 60vw;
}

#eventForm {
	padding: 1rem;
}

.rs__header p {
	color: #1976d2;
}

.css-1sn4lm3-MuiTypography-root, .css-1v2gfp5 {
	color: #1976d2;
}

@media (width <= 855px) {
	#calendar, .CalendarEventsHead {
		width: 90vw;
	}
}