.CalendarEventsHead {
	font-variant: small-caps;
	background-color: rgb(250, 245, 245, .1);
	width: 60vw;
}

#calendar {
	width: 60vw;
}

#eventForm {
	padding: 1rem;
}

.rs__header p span {
	color: #1976d2;
}