.eventItem {
	font-family: "InkFree";
	font-variant: small-caps;
	font-size: larger !important;
	width: 35vw;
	text-align: left;
	/*margin-left: 2em;*/
}

#eventsmap {
	border: 0;
	height: 10vw;
}

#eventsdescription {
	margin-right: 1em;
}

.EventItem > div {
	float: left;
}

#homeevents {
	margin-top: 1em;
	float: left;
	width: 36vw;
	margin-left: .8em;
}