@font-face {
    font-family: "Annie";
    src: url("../assets/fonts/AnnieUseYourTelescope-Regular.ttf") format("truetype");
}

.EventItem {
	/* font-family: "Annie"; */
	font-variant: small-caps;
	width: 36vw;
	box-shadow: 0.3em 0.3em 1em 12px rgba(43, 43, 44, 0.4);
	border-radius: 5px;
	font-size: large;
}

.EventTitle {
	color: rgb(174, 64, 165);
	margin-bottom: 0;
	margin-top: 0;
}

.EventTime {
	color: rgb(218, 128, 68);
}

.EventDescription {
	color: rgb(168, 95, 46);
}

#eventsmap {
	border: 0;
	height: 10vw;
}

#eventsdescription {
	margin-right: 1em;
}

#eventshead {
	font-variant: small-caps;
	background-color: rgb(250, 245, 245, .1);
	width: 36vw;
}

@media (width <= 855px) {
	#eventshead, .EventItem {
		width: 90vw;
	}
	
}