.PanelGroups {
	position: fixed;
	background-color: rgba(0,0,0,.70);
	width: 91vw;
	bottom: 0;
	left: 3em;
	padding-bottom: 1em;
	z-index: 10;
	min-height: 15vh;
}

.PanelGroups > h4 {
	color: white;
}

.HidePanelGroups {
	position: fixed;
	width: 91vw;
	left: 3em;
	background-color: rgba(0,0,0,.50);
	top: 95%;
	z-index: 10;
}

.SelectionPanel {
	display: inline-flex;
	color: white;
	position: absolute;
	right: 1vw;
}

.PanelIcon {
	color: white;
	position: relative;
	bottom: 10px;
}

.ButtonGroups {
	padding-top: 1em;
	margin-bottom: 2em;
}

#welcomemessage {
	color: white;
	padding-left: 10vw;
	padding-right: 10vw;
	margin-top: 3em;
}

@font-face {
    font-family: "Barlow";
    src: url("../assets/fonts/Barlow-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Forum";
    src: url("../assets/fonts/Forum-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "LilGrotesk";
    src: url("../assets/fonts/LilGrotesk-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Eirene";
    src: url("../assets/fonts/EireneSans-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Guminert";
    src: url("../assets/fonts/Guminert.ttf") format("truetype");
}

@font-face {
    font-family: "TypeUnion";
    src: url("../assets/fonts/TypeUnion-PaloCompressedMedium.otf") format("opentype");
}

@font-face {
    font-family: "Annie";
    src: url("../assets/fonts/AnnieUseYourTelescope-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "IndieFlower";
    src: url("../assets/fonts/IndieFlower.ttf") format("truetype");
}

@font-face {
    font-family: "Komika";
    src: url("../assets/fonts/KOMTXTT.ttf") format("truetype");
}

@font-face {
    font-family: "Compagnon";
    src: url("../assets/fonts/Compagnon-Light.otf") format("opentype");
}

@font-face {
    font-family: "Liberation";
    src: url("../assets/fonts/LiberationMono-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Quintessential";
    src: url("../assets/fonts/Quintessential-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Cartoonist";
    src: url("../assets/fonts/SF_Cartoonist_Hand.ttf") format("truetype");
}

@font-face {
    font-family: "PaulMaul";
    src: url("../assets/fonts/PaulMaul.ttf") format("truetype");
}

@font-face {
    font-family: "Pompiere";
    src: url("../assets/fonts/Pompiere-Regular.otf") format("opentype");
}

#barlow {
	font-family: "Barlow";
}

#forum {
	font-family: 'Forum';
}

#lilgrotesk {
	font-family: 'LilGrotesk';
}

#eirene {
	font-family: 'Eirene';
}

#guminert {
	font-family: 'Guninert';
}

#typeunion {
	font-family: 'TypeUnion';
}

#annie {
	font-family: 'Annie';
}

#indieflower {
	font-family: 'IndieFlower';
}

#komika {
	font-family: 'Komika';
}

#compagnon {
	font-family: 'Compagnon';
}

#liberation {
	font-family: 'Liberation';
}

#quintessential {
	font-family: 'Quintessential';
}

#cartoonist {
	font-family: 'Cartoonist';
}

#paulmaul {
	font-family: 'PaulMaul';
}

#pompiere {
	font-family: 'Pompiere';
}