.footer {
	float: left;
	clear: left;
	width: 100%;
	background-color: rgb(250, 245, 245, .1);
    position: absolute;
    bottom: 0;
}

html[xmlns] .footer {
    display: block;
}

.column {
    float: left;
    margin-right: 3em;
}

.column > img {
    display: block;
}

#footerAddress {
    text-align: left;
}

#columnOne {
    position: relative;
    top: 15px;
    bottom: 15px;
    margin-left: 1.25em;
}

#columnTwo {
    position: relative;
    top: 50px;
}