.PageHeader > * {
	display: inline-block;
}

 .BackdropWrapper > form {
	margin: 1em;
}

.ContactSubmit {
	max-width: 10em;
	background-color: #f3f2f2;
	font-size: .6em;
	border-color: #171515;
	margin-top: 2em; 
	font-variant: small-caps;
}

#contactform {
	float: left;
	width: 38%;
	margin-right: 1em;
}

#formwidth {
	width: 80%;
}