#loginbutton {
	max-width: 10em;
	background-color: #f3f2f2;
	color: #171515;
	font-size: .6em;
	border-color: #171515;
	margin-top: 2em;
	font-variant: small-caps;
}

#loginformwrapper {
	margin-bottom: 3vh;
}